body{
    background-color: rgb(46, 44, 44);
}
.section1{
    background-image: url("../images/index.jpg");
    top: 0;
    height: 750px;
    width: 100%;
    background-size: cover;                    
    background-position: center center;
    background-repeat: no-repeat;
}



.fixed-action-btn,.header{
    position: fixed;
    top: 0;
    height: 50px;
   
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: transparent;
    color:white;
    text-align: center;
    overflow: hidden;
}


.section1{
    color: white;
    text-align: center;
    font-family: cursive;
}

#zip,#foodyousearchfor{
    color: white;
    display: grid;
    background-color: rgb(116, 111, 111);
    opacity: 0.75;
}

#foodsearch{
    background-image: url("../images/search.jpg");
    top:750px;
    height: 1200px;
    width: 100%;
}



#restaurentsearch{
    background-image: url("../images/rest.jpg");
    top:1200px;
    height: 750px;
    width: 100%;
    background-size: cover;                    
    background-position: center center;
    background-repeat: no-repeat;
}



/*for restaurent search*/

#restaurentsubmit,#foodsearchsubmit,#recipesubmit{
    color: white;
    display: grid;
    background-color: rgb(56, 148, 20);
    opacity: 0.75;
    border-radius: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
}


row.myclass{
    width:30%;
    float: left;
    background-color: white;
    margin: 20px;
    opacity: 0.75;
}

#viewsubmit{
    background-color: red;
    color: white;
}
/*to scroll*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  h1.here{
      font-style: italic;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:purple;
      text-align: center;
  }

  /*intro page*/
  .input-field.col label{
      font-size: 20px;
      color: rgb(0, 174, 255);
  }
  .select-wrapper input.select-dropdown{
      background-color: rgb(204, 185, 76);
      opacity: 0.75;
  }
  /*serach page*/

   


  @media only screen and (max-device-width: 600px) {

    row.myclass{
        width:auto;
        float: left;
        background-color: white;
        margin: 20px;
        opacity: 0.75;
    }
}


/*for details recipe page*/
.detailsclass{
    background-color: rgb(172, 166, 166);
   
    width:75%;
    padding: 20px;
    margin: auto;
    border-color: black;
    text-align: center;
    
}
img.detailsclass{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
  
}


#recipesearch{
    background-image: url("../images/bg.jpg");
    top:750px;
    height: auto;
    width: 100%;
    background-size: cover;                    
    background-position: center center;
    background-repeat: no-repeat;
    font-style: italic;
    font-family: 'Pacifico', cursive;
}

@media only screen and (max-device-width: 870px) {

    img.detailimg{
       
        height: auto;
        width: 250px;
    }
}